html,body{

    margin: 0;
    padding: 0;
    margin-top: 5%;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
}

header{

    text-align: center;
}


header .canyon{
    z-index: 1;
    height: 500px;
    margin-top: -5%;
    width: 100%;
    margin-top: -5%;
}

header h1{

    z-index: 2;
    margin-top: -22%;
    font-family: serif;
    color: gray;
}

header p{

    z-index: 2;
    margin-top: 2%;
    font-family: serif;
    color: gray;
}